@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

.table-section {
  background-color: rgb(156, 119, 119);
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: 'Open Sans', sans-serif;
}

.title {
  margin-top: 3rem;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: white 1px 1px;
}

/********************* TABLE *********************************/
table.jambo_table {
  border: 1px solid rgba(221, 221, 221, 0.78);
}

table.jambo_table thead {
  background: rgba(52, 73, 94, 0.94);
  color: #ecf0f1;
}

table.jambo_table tbody tr:hover td {
  background: rgba(38, 185, 154, 0.07);
  border-top: 1px solid rgba(38, 185, 154, 0.11);
  border-bottom: 1px solid rgba(38, 185, 154, 0.11);
}
