@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

.table-section {
  background-color: rgb(238, 201, 201);
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: 'Open Sans', sans-serif;
  height: 90vh;
}

.title {
  margin-top: 3rem;
  text-align: center;
  color: rgb(22, 20, 20);
  font-size: 40px;
  font-weight: bold;
  text-shadow: white 1px 1px;
}
.statistic-date {
  margin-top: 3rem;
  text-align: center;
  color: rgb(22, 20, 20);
  font-size: 30px;
  font-weight: bold;
  text-shadow: white 1px 1px;
}
.revenue {
  margin-top: 3rem;
  text-align: center;
  color: rgb(22, 20, 20);
  font-size: 30px;
  font-weight: bold;
  text-shadow: white 1px 1px;
}

/******************* MEDIA QUERIES *********************************/
@media screen and (max-width: 1300px) {
  .title{
    font-size: 70px;
    text-align: center;
  }
  .statistic-date {
    font-size: 60px;
  }
  
}

@media screen and (max-width: 1023px){
  .title{
    font-size: 60px;
    text-align: center;
  }
  .statistic-date {
    font-size: 40px;
  }
  
  
  
}
@media screen and (max-width: 768px) {
  .title{
    font-size: 60px;
    text-align: center;
  }
  .statistic-date {
    font-size: 40px;
  }
  
}
@media screen and (max-width: 640px) {
.title{
    font-size: 50px;
    text-align: center;
  }
  .statistic-date {
    font-size: 40px;
  }
  
}