@import url('https://cdn.syncfusion.com/ej2/material.css');

.date-picker {
  margin: auto;
  display: block;
  width: 500px;
  margin-bottom: 30px;
}

/******************* MEDIA QUERIES *********************************/
@media (min-width: 340px) and (max-width: 1366px) {
 .date-picker  {
     width: 230px;
  
  }
  
}
