.users-container {
    display: 'flex';
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    min-height: 100vh;
    overflow: hidden;
}
.users-userlist-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-users {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #494949;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
.toggle-users:hover {
    background-color: #3f51b5;
    transition: all 0.2s ease-out;
}
.toggle-users-active {
    width: 30px;
    height: 30px;
    background-color: #3f51b5;
    border: 1px solid #494949;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
.toggle-users-active:hover {
    background-color: white;
    transition: all 0.2s ease-out;
}
.role-filters {
    display: flex;
    justify-content: center;
    position: relative;
    right: 50px;
    margin-bottom: 30px;
}
.user-role {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-size: 16px;
}

.users-user {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 10px;
    width: 700px;
    border-top: 1px solid #cccccc;
    padding-top: 10px;
}

.users-avatar {
    height: 40px;   
}

.users-paragraph {
    margin: 0px;
    padding-left: 10px;
    font-size: 16px;
    color: #494949;
}
.role {
    position: relative;
    height: 50px;
    padding-top: 13px;
    left: 92px;
    font-size: 16px;
    border-left: 1px solid black;
}

.users-name {
    display: flex;
}
.users-email {
    font-size: 14px;
    color: blue;
}

.users-buttons {
    position: relative;
    left: -58px;
}

.users-input {
    position: relative;
    left: -20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    width: 700px;
    color: #494949;
}
.fa-search {
    position: relative;
    top: 2px;
    left: -60px;
    color: #959595;
    font-size: 22px;
    cursor: pointer;
}

.fa-edit {
    color: #3f51b5;
    font-size: 22px;
    cursor: pointer;
    padding: 5px;
}

.fa-trash-alt {
    color: rgb(255, 35, 35);
    font-size: 22px;
    cursor: pointer;
    padding: 5px;
}

@media screen and (max-width: 1040px) {
    .role-filters {
        right: 0px;
    }
    .users-user {
        position: relative;
        left: 20px;
        width: 80vw;
    }
    .role {
        visibility: hidden;
    }
    .users-buttons {
        position: relative;
        left: 0px;
    }
    .users-input {
        position: relative;
        left: 5px;
        width: 85vw;

    }
    .fa-search {
        visibility: hidden;

    }
}

