
.createuser-page-container {
    background-color: #494949;
    height: 1000px;
}
.createuser-paper {
    padding: 20px;
    height: 820px;
    width: 480px;
    margin: 1px auto;
}

@media screen and (max-width: 480px) {
    .createuser-paper {
        width: 100vw;
    }
}
