.vertical-menu {
    width: 100%;
    height: 150px;  
    border: 1px solid #7a7a7a;
    border-radius: 2px;
    overflow-y: auto;
}
.vertical-menu.hotels {
    height: 100px;  

}
.vertical-menu div {
    background-color: white;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.vertical-menu div:hover {
    background-color: #ccc;
}
.vertical-menu div:active {
    background-color: #4CAF50;
    color: white;
}