/********************* TABLE *********************************/
table.jambo_table {
  border: 1px solid rgba(240, 237, 237, 0.78);
   background-color: rgb(241, 243, 239);
  display: inline-block;
   overflow: scroll;
  }

table.jambo_table thead {
  background: rgba(61, 63, 63, 0.94);
  color: #f5f0f0;
}

table.jambo_table tbody tr:hover td {
  background-color: rgb(241, 243, 239);
  border-top: 1px solid rgba(10, 10, 10, 0.11);
  border-bottom: 1px solid rgba(30, 32, 32, 0.11);
 }
#footer th{
  color: #251e06;
  font-weight: bolder;
  font-size: 20px;
  }
/******************* MEDIA QUERIES *********************************/
@media (min-width: 480px) and (max-width: 1366px) {
  table.jambo_table {
    font-size: 30px;
    background-color: rgb(241, 243, 239);
  }
  }
