.table-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table-title > h1 {
  color: #3a3a3a;
  font-size: 25px;
  font-weight: bold;
  padding: 30px;
}

.datareport-table-container {
  width: 100%;
}

.datareport-th-container {
  background: rgba(61, 63, 63, 0.94);
}

.datareport-th {
  color: #fafaf6;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 5px;
  width: 25vw;
  border: 1px solid rgba(189, 189, 189, 0.78);
}

.datareport-td {
  color: black;
  font-size: 16px;
  padding: 15px 5px;
  cursor: pointer;
  border: 1px solid rgba(189, 189, 189, 0.78);
}

.datareport-td-container:nth-child(odd) {
  border: 1px solid rgba(243, 243, 243, 0.78);
  background-color: rgb(226, 226, 226);
}

.datareport-td-container:nth-child(even) {
  background-color: rgb(243, 243, 243);
}

.datareport-td-container:hover {
  background-color: rgb(206, 206, 206);
  border-top: 1px solid rgba(10, 10, 10, 0.11);
  border-bottom: 1px solid rgba(30, 32, 32, 0.11);
 }

 .datareport-td-error {
   color: red;
   font-size: 14px;
   border: 1px solid rgba(189, 189, 189, 0.78);
   padding: 15px 5px;
 }

.datareport-total-td-container {
  background-color: #494949;
}
.datareport-total-td {
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 5px;
  border: 1px solid rgba(189, 189, 189, 0.78);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}




