
.multistepform-paper {
    padding: 20px;
    width: 480px;
    margin: 8px auto;
    min-height: 800px
}

@media screen and (max-width: 480px) {
    .multistepform-paper {
        width: 100vw;
    }
}
