video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.home-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container-homee {
    background-color: #494949;
    height: 93vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}
.hero-container-homee > h1 {
    color: white;
    font-size: 95px;
    font-weight: bold;
    margin-top: -100px;
}

.hero-container-homee > p {
    margin-top: 8px;
    color: white;
    font-size: 36px;
}
.hero-btns {
    margin-top: 32px;
}
.hero-btns .btn {
    margin: 6px;
    padding: 14px 40px 10px 40px;
    font-size: 24px;
    font-weight: bold;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 1000px) {
    .hero-container-homee > h1 {
        font-size: 9vw;
        margin-top: -100px;
    }
    .hero-container-homee > p {
        font-size: 30px;
    }
}


@media screen and (max-width: 768px) {
    .btn-mobile {
        display: block;
        text-decoration: none;
    }
    .btn {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .hero-container-homee > p {
        font-size: 25px;
    }
}



